<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Zay Shop - Add Attraction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
  
  <div th:fragment="footer">
        <!-- Start Footer -->
    <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © PergiJalan.com 2023</span>
                
              </div>
            </div>
          </div>
        </footer>
    <!-- End Footer -->
    </div>
  </body>
</html>