<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spica Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/adminStyle/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/adminStyle/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/adminStyle/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/adminStyle/images/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
        #fullpage {
            display: none;
            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 75vw;
            height: 75vh;
            background-size: contain;
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-color: black;
            cursor: pointer;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery img {
            max-width: 100px;
            margin: 5px;
            cursor: pointer;
        }
    
    .thumbnail {
    width: 100px; /* Sesuaikan ukuran gambar kecil */
    height: 100px; /* Sesuaikan ukuran gambar kecil */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 20px; /* Sesuaikan posisi gambar kecil dari bawah */
    left: calc(50% - 50px); /* Menengahkan gambar kecil horizontal */
    border: 2px solid white; /* Tambahkan border untuk estetika */
}
    </style>
  
</head>

<body>
  <div class="container-scroller d-flex">

    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="admin/_menu :: menu"></nav>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<form class="forms-sample" th:object="${placeReviewTxn}" th:each="row: ${pendingReview}" th:action="@{/admin/pending-review-detail/approve}" method="POST">
										<input type="hidden" id="inputName" placeholder="Name"
											th:field="*{id}">
										<h2></h2>
										<h4>Nama Tempat Atraksi</h4>
										<p th:text="${row[2]}"></p>
										<h4>Kategori</h4>
										<p th:text="${row[1]}"></p>
										<br/>
					<ul class="list-inline">
                  <li class="list-inline-item">
                    <h6>Nilai Kebersihan :</h6>
                  </li>
                  <li class="list-inline-item"   th:each="starNumber : ${#numbers.sequence(1,5)}"
		              				th:class="${ row[6] >= starNumber} ? 'fa fa-star text-warning' : 'fa fa-star text-secondary'">
                  </li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <h6>Nilai Suasana :</h6>
                  </li>
                  <li class="list-inline-item"   th:each="starNumber : ${#numbers.sequence(1,5)}"
		              				th:class="${ row[5] >= starNumber} ? 'fa fa-star text-warning' : 'fa fa-star text-secondary'">
                  </li>
                </ul>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <h6>Nilai Pelayanan :</h6>
                  </li>
                  <li class="list-inline-item"   th:each="starNumber : ${#numbers.sequence(1,5)}"
		              				th:class="${ row[4] >= starNumber} ? 'fa fa-star text-warning' : 'fa fa-star text-secondary'">
                  </li>
                </ul>
				<h4>Judul Review</h4>
				<p th:text="${row[7]}"></p>
										<br />
										<h4>Isi Review</h4>
				<p th:text="${row[8]}"></p>
										<br />
										<h4>Review By</h4>
				<p th:text="${row[3]}"></p>
										<br />
										<h4>Review Date</h4>
				<p th:text="${row[9]}"></p>
										<br />
										
										<h4>Galeri Foto</h4>
										<div class="gallery">
											<div th:if="${#lists.size(placeReviewPhoto) > 0}">
												<img th:each="data : ${placeReviewPhoto}"
													th:src="${data.photoPath} + '/' + ${data.photoName}" alt=""
													id="product-detail">
											</div>
											<!-- Add more images as needed -->
										</div>

										<button type="submit" value="approve_button" name="approve_button" class="btn btn-primary">Approve</button>
										<button type="submit" value="reject_button" name="reject_button" class="btn btn-primary">Reject</button>
										<a class="btn btn-light" th:href="@{'/admin/pending-review-list'}">Back</a>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <nav th:insert="admin/_footer :: footer"></nav>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/adminStyle/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/adminStyle/js/off-canvas.js"></script>
  <script src="/adminStyle/js/hoverable-collapse.js"></script>
  <script src="/adminStyle/js/template.js"></script>
  <!-- endinject -->
  <!-- End custom js for this page-->
  
  <script>
        $(function() {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        function myFunction(id) {
            var txt;
            var r = confirm("Are you sure? \n Press ok to delete \n Press cancel to cancel");
            if (r == true) {
                window.location.href = "http://localhost:8011/admin/delete-category/" + id;
            } else {
                txt = "";
            }
            document.getElementById("demo").innerHTML = txt;
        }
    </script>
    
    <script>
    const imgs = document.querySelectorAll('.gallery img');
    const fullPage = document.querySelector('#fullpage');
    let currentIndex = 0;
    let slideshowInterval;
    let prevIndex, nextIndex;

    function showImage(index) {
        if (index >= 0 && index < imgs.length) {
            fullPage.style.backgroundImage = 'url(' + imgs[index].src + ')';
            currentIndex = index;


            // Mengatur indeks gambar sebelum dan sesudahnya
            prevIndex = (index - 1 + imgs.length) % imgs.length;
            nextIndex = (index + 1) % imgs.length;
        }
    }

    function showAllImages() {
        // Show all images by setting the background of fullPage to a CSS gradient
        fullPage.style.backgroundImage = 'linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%)';
    }



    function nextImage() {
        currentIndex = (currentIndex + 1) % imgs.length;
        showImage(currentIndex);
    }

   function prevImage() {
    currentIndex = (currentIndex - 1 + imgs.length) % imgs.length;
    showImage(currentIndex);
}

    imgs.forEach((img, index) => {
        img.addEventListener('click', function() {
            showImage(index);
            fullPage.style.display = 'block';
            startSlideshow();
        });
    });

    fullPage.addEventListener('click', function() {
        fullPage.style.display = 'none';
        stopSlideshow();
    });

    document.addEventListener('keydown', function(event) {
        if (event.key === 'ArrowRight') {
            nextImage();
        } else if (event.key === 'ArrowLeft') { // Menambahkan navigasi ke gambar sebelumnya
        prevImage();
    } else if (event.key === 'Escape') {
        fullPage.style.display = 'none';
        stopSlideshow();
    }
    });

    function preloadNextImage() {
        const nextIndex = (currentIndex + 1) % imgs.length;
        const nextImageObj = new Image();
        nextImageObj.src = imgs[nextIndex].src;
    }

    fullPage.addEventListener('load', preloadNextImage);
</script>
</body>

</html>
