<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin - List Pending Attraction</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/adminStyle/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/adminStyle/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/adminStyle/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/adminStyle/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">

    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="admin/_menu :: menu"></nav>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
     
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Pending Approval Attraction List</h2>
                  <br/>
                  <div th:if="${successMessage}">
                  	<h4 style="color: green;" th:text="${successMessage}"></h4>
                  </div>
                  <br/>
                  <div class="table-responsive">
                  <br/>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Attraction Name</th>
                          <th>Address</th>
                          <th>Website</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="pendingAttraction,rowStat : ${pendingAttraction}">
                        <td th:text="${rowStat.count}"></td>
                          <td>
                          	<u><a th:href="@{'/admin/pending-attraction-detail/'+${pendingAttraction[0]}}" th:text=${pendingAttraction[1]}></a></u>
                          </td>
                          <td th:text=${pendingAttraction[2]}></td>
                          <td th:text=${pendingAttraction[3]}></td>
                          <td th:if="${pendingAttraction[4] == 1}"> New</td>
                          <td th:if="${pendingAttraction[4] == 2}"> Update</td>
                          <td th:if="${pendingAttraction[4] == 3}"> Delete</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <nav th:insert="admin/_footer :: footer"></nav>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/adminStyle/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/adminStyle/js/off-canvas.js"></script>
  <script src="/adminStyle/js/hoverable-collapse.js"></script>
  <script src="/adminStyle/js/template.js"></script>
  <!-- endinject -->
  <!-- End custom js for this page-->
  
  <script>
        $(function() {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        function myFunction(id) {
            var txt;
            var r = confirm("Are you sure? \n Press ok to delete \n Press cancel to cancel");
            if (r == true) {
                window.location.href = "http://localhost:8011/admin/delete-category/" + id;
            } else {
                txt = "";
            }
            document.getElementById("demo").innerHTML = txt;
        }
    </script>
</body>

</html>
