<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PergiJalan - Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/loginStyle/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/loginStyle/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
       <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign In</h2>
                        
                        <div th:if="${#request.getParameter('error') == 'true'}"
							style="color:red;margin:10px 0px;">
							
							
							<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
					<!--		th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">-->
							Username atau Password Salah.
							</span>
						</div>
                        <div th:if="${signUpMessage}">
            					<div th:text="${signUpMessage}" style="color:red;margin:10px 0px;"></div>
            				</div>
                        <form th:action="@{/j_spring_security_check}" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="name" placeholder="Your Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="paess"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Sign In"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/loginStyle/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="sign-up" class="signup-image-link">Create an Account</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/loginStyle/vendor/jquery/jquery.min.js"></script>
    <script src="/loginStyle/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>